/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/primary
 * -----------------------------------------------------------------------------
 */

%btn-primary,
.btn-primary {
  @extend %btn;
  background-color: $color-black;
  border: 1px solid $color-black;
  border-radius: 0;
  color: $color-white;
  display: inline-flex;
  @include font-config-semi();
  @include font-size($fs-xs);
  letter-spacing: 2px;
  margin-top: $space-1x;
  padding: $space-2x $space-4x;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color .08s ease-in, color .08s ease-in;
  width: auto;

  @include bp-lg() {
    letter-spacing: 3px;
    margin-top: $space-3x;
  }

  &:hover {
    background-color: transparent;
    color: $color-black;
  }
}