<section class="about">
  <div class="grid-1x2-sm">
    <article class="about__opening">
      <div>
        {{ opening_hours }}
      </div>
    </article>
    {{ if visual }}
      <div class="about__visual">
        <div>
          <figure>
            <img src="{{ visual }}" alt="" width="{{ visual:width }}" height="{{ visual:height }}" class="lazyload">
          </figure>
        </div>
      </div>
    {{ endif }}
  </div>
  <div class="grid-2x1-sm">
    <article class="about__visual">
      <div>
        <img src="/assets/daniel-h-slideshow-3.jpg" class="is-responsive">
      </div>
    </article>
    <article class="about__location">
      <div>
        {{ location }}
        <p>
          {{ collection:social_media_channels }}
            <a href="{{ link }}" target="_blank" rel="noopener noreferer" title="{{ title }}">{{ title }}</a>{{ if first}} | {{ endif }}
          {{ /collection:social_media_channels }}
        </p>
      </div>
    </article>
  </div>
</section>