/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

// Generic font sizes
$fs-xxs: (
  null: (16px,1.32),
  sm:   (18px,1.32),
  md:   (20px,1.32),
  lg:   (24px,1.32),
);

$fs-xs: (
  null: (18px,1.32),
  sm:   (28px,1.32),
  md:   (18px,1.32),
  lg:   (28px,1.32),
);

$fs-sm: (
  null: (24px,1),
  sm:   (54px,1),
  md:   (44px,1),
  lg:   (60px,1),
);

$fs-md: (
  null: (45px,1),
  sm:   (45px,1),
  md:   (45px,1),
  lg:   (80px,1),
);

$fs-lg: (
  null: (40px,1),
  sm:   (90px,1),
  md:   (70px,1),
  lg:   (120px,1),
);

$fs-xl: (
  null: (60px,1),
  sm:   (90px,1),
  md:   (80px,1),
  lg:   (150px,1),
);

$fs-xxl: (
  null: (41px,auto),
  sm:   (92px,auto),
  md:   (108px,auto),
  lg:   (190px,auto),
);


// Control panel
$fs-cp: (
  null: (16px,1.32),
  sm:   (16px,1.32),
  md:   (18px,1.32),
  lg:   (18px,1.32),
);