/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

// Site colors
$color-black:    #000000;
$color-white:    #ffffff;
$color-rose:     #FFE4DA;
$color-beige:    #FFF3C7;
$color-pistache: #EDFFD1;
$color-orange:   #F9AB5B;

// Notification colors
$color-success:   #70AE6E !default;
$color-info:      #009DDC !default;
$color-warning:   #f0ad4e !default;
$color-danger:    #DA2C38 !default;

